@import "../../product.component.scss";
.card{
    margin-bottom: 50px;
}
.card-header{
    display: flex;
    p {
        margin-left: 10px;
    }
}
@media print{
    *{
        @include print;
    }
    .card {@include print_card;}
}